
  .imagenes{
      width: 100px;
      padding: 15px;

  }
  .floating-gif-container {
    position: fixed;
    bottom: 0;
    left: 70%;
    transform: translateX(-50%);
    width: 80px;
    height: 100px;
    animation: float 4s infinite;
  }

  .floating-gif {
    width: 100%;
    height: 100%;
  }

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .card{
      display: inline-block;
      padding: 15px;
      margin: 20px;
      text-align: center;
      width: 190px;
      height: auto;
      background-color: #0C7D85;
      border: 1px solid #C0DF40;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      overflow: hidden;
      max-width: 300px;
      margin: 10px;
      color: #e1e1e1;
  }
  .card a:hover {
    color: #e74c3c;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  img{
      width: 150px;
      border-radius: 5px;
      transition: transform 0.3s ease;
  }
  .card img:hover {
    transform: scale(1.1);
  }
  .flex-container{
      text-align: center;

  }

  .cool-button {
    background-color: #C0DF40;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }

  .cool-button:hover {
    background-color: #2c1e46;
    transform: scale(1.05);
  }

  .cool-button:focus {
    outline: none;
  }
.especies{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 19px;

}
.name{
  font-size: 13px;
}
